.card__meta
  .card__meta__content

    - if properties[:meta_author]
      = safe_image_tag(properties[:meta_avatar], class: "card__meta__avatar", alt: "Avatar for #{properties[:meta_author]}")
      by
      %span.card__meta__author
        = properties[:meta_author]

    - elsif properties[:meta_description]
      %span.card__meta__icon{ class: "icon--#{properties[:kind]}" }
      = properties[:meta_description]
