- if properties[:image_attribution]

  - icon_color = properties[:cover?] ? "white" : "body-grey"

  .card__meta__attribution
    %span.card__meta__author
      = properties[:image_attribution]
    .card__meta__licenses
      - unless properties[:image_license] == 'permission'
        %span.license.icon--cc{ class: "icon--#{icon_color}" }<>
          Creative Commons
      %span.license.icon--by{ class: "icon--#{icon_color}" }<>
        Attribution
      - if properties[:image_license] == 'by-nd'
        %span.license.icon--nd{ class: "icon--#{icon_color}" }<>
          Non-Derivation
      - if properties[:image_license] == 'by-sa'
        %span.license.icon--sa{ class: "icon--#{icon_color}" }<>
          Share Alike

- elsif properties[:meta_author]
  .card__meta__attribution
    = safe_image_tag(properties[:meta_avatar], class: "card__meta__avatar", alt: "Avatar for #{properties[:meta_author]}")
    by
    %span.card__meta__author
      = properties[:meta_author]

- elsif properties[:meta_description]
  .card__meta__kind{ class: "card__meta__kind--#{properties[:kind]}" }
    %span.card__meta__icon{ class: "icon--#{properties[:kind]}" }
    = properties[:meta_description]
