- price_parts = properties[:price].to_s.split(".")

.tag.tag--price{ class: properties[:size] ? "tag--price--small" : nil }
  .tag--price__inner
    .tag--price__values
      .tag--price__amount<>
        %span.tag--price__currency<>
          = raw(properties[:currency_symbol])
        %span.js-price<>
          = price_parts.first
          %span.tag--price__decimal<>
            = price_parts.length == 2 ? ".#{price_parts.last}" : ""
    - if properties[:on_sale_here?]
      .tag--price__retail<>
        = raw(properties[:currency_symbol])
        = properties[:retail_price]
