%article{ class: card_classes(properties).join(" ") }
  .card__mask

    %a{ href: properties[:url] }

      - if properties[:image_url]
        %figure.card__figure
          = safe_image_tag(properties[:image_url], class: "card__figure__img", alt: properties[:image_alt])

      .card__content

        - if properties[:context_text]
          %p.card__content__context{ class: properties[:context_icon] ? "icon--#{properties[:kind]}--before" : "" }
            = properties[:context_text]
        %h1.card__content__title
          = properties[:title]
        - if properties[:context_locale]
          %p.card__content__locale.icon--place--before
            = properties[:context_locale]
        .card__content__desc
          = properties[:description]

      = render :partial => "/components/cards_v2/partials/footer", :locals => { :properties => properties }

  = render :partial => "/components/cards_v2/partials/tags", :locals => { :properties => properties }
