:ruby

  attrs = {
    url: "",
    kind: "",
    title: "",
    cover?: false,
    short?: false,
    double?: false,
    description: "",

    meta_date: nil,
    meta_avatar: nil,
    meta_description: nil,

    image_alt: nil,
    image_url: nil,

    price: nil,
    retail_price: nil,
    currency_symbol: nil
  }

  attrs.merge!(properties)

  class_names = [
    "card",
    "js-card",
    "card--#{attrs[:kind]}",
    "card--#{attrs[:short?] ? 'short' : 'tall'}",
    "card--#{attrs[:cover?] ? 'cover' : 'standard'}",
    "card--#{attrs[:double?] ? 'double' : 'single'}",
    "card--#{attrs[:image_url] ? 'has-img' : 'no-img'}"
  ].join(" ")

%article{ class: class_names }
  .card__mask

    %a{ href: attrs[:url] }

      - if attrs[:image_url]
        %figure.card__figure
          %img.card__figure__img{ src: attrs[:image_url], alt: attrs[:image_alt] }

      .card__content

        .card__title
          = attrs[:title]
        .card__desc
          = attrs[:description]

      - if attrs[:meta_description] || attrs[:meta_date]
        .card__meta

          - if attrs[:meta_avatar]
            .card__meta__author
              %img.card__meta__avatar{ src: attrs[:meta_avatar] }
              = attrs[:meta_description]
          - elsif attrs[:meta_date]
            .card__meta__date
              = attrs[:meta_date]
          - else
            .card__meta__type{ class: "card__meta__type--#{attrs[:kind]}" }
              = attrs[:meta_description]

      - if attrs[:price] && attrs[:currency_symbol]
        .card__tags
