:ruby

  attrs = {
    url: "",
    kind: "",
    title: "",
    cover?: false,
    short?: false,
    double?: false,
    description: "",

    meta_avatar: nil,
    meta_description: nil,

    image_alt: nil,
    image_url: nil,

    # Price tag
    price: nil,
    retail_price: nil,
    on_sale_here?: nil,
    currency_symbol: nil,

    # Other tags
    lp_review: nil,
    top_choice: nil
  }

  attrs.merge!(properties)

  class_names = [
    "card",
    "js-card",
    "card--#{attrs[:kind]}",
    "card--#{attrs[:short?] ? 'short' : 'tall'}",
    "card--#{attrs[:cover?] ? 'cover' : 'standard'}",
    "card--#{attrs[:double?] ? 'double' : 'single'}",
    "card--#{attrs[:image_url] ? 'has-img' : 'no-img'}",
    "card--#{attrs[:meta_description] ? 'has-meta' : 'no-meta'}"
  ].join(" ")

%article{ class: class_names }
  .card__mask

    %a{ href: attrs[:url] }

      - if attrs[:image_url]
        %figure.card__figure
          = safe_image_tag(attrs[:image_url], class: "card__figure__img", alt: attrs[:image_alt])

      .card__content

        .card__title
          = attrs[:title]
        .card__desc
          = attrs[:description]

      - if attrs[:meta_description]
        .card__meta

          - if attrs[:meta_avatar]
            .card__meta__attribution
              = safe_image_tag(attrs[:meta_avatar], class: "card__meta__avatar", alt: "Avatar for #{attrs[:meta_description]}")
              by
              %span.card__meta__author
                = attrs[:meta_description]
          - else
            .card__meta__kind{ class: "card__meta__kind--#{attrs[:kind]}" }
              %span.card__meta__icon{ class: "icon--#{attrs[:kind]}" }
              = attrs[:meta_description]

  .card__tags
    - if properties[:price]
      = render :partial => "/components/cards_v2/partials/price_tag", :locals => { :properties => properties }
    = render :partial => "/components/cards_v2/partials/tags", :locals => { :properties => properties }
